.keyboard {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
  }
  
  .keyboard-row {
    display: flex;         
    justify-content: center; 
    margin-bottom: 10px;  
    
  }
  
  button {
    padding: 10px 15px;    
    margin: 5px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    cursor: pointer;
    transition: background-color 0.2s;
    text-transform: capitalize;
  }
  
  button:hover {
    background-color: #ddd; 
  }

  .result {
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0;
    margin: auto;
    align-items: center;
  }

  .result h2 {
    margin: 0;
    padding: 10px;
    text-align: center;
  }
  .result p {
    margin: 0;
    padding: 10px;
    text-align: center;
    background-color: aquamarine;
    border: 2px solid black;
    border-radius: 15px;
    display: flex;
    width: 500px;
    height: 15px;
  }

  button:active {
    background-color: rgb(39, 235, 39);
  }
